{% extends 'backend/backend.html' %}
{% block contenidos %}	
	
	


{% include '/backend/menu_gestor.html' %}
<section>
	<article id='information'>
<h1>{{ trad.h1_editar }}: <b>{{ get.id }}</b> {{ trad.dela }} <b>{{ get.tabla|title }}</b></h1>
<p>
<a href='{{ cons.HOME }}gestor/crear-nuevo/{{ get.tabla  }}' title='{{ trad.vovler_listado }} {{ get.tabla|title }}' class='bo_dos'>{{ trad.nuevoreg }}</a> <a href='{{ cons.HOME }}gestor/listado/{{ get.tabla }}/{{ session.campo_orden}}/{{ session.pagina }}/{{ session.orden}}' title='{{ trad.vovler_listado }} {{ get.tabla|title }}' class='bo_dos'>{{ trad.vovler_listado2 }} <b>{{ get.tabla|title }}</b></a>
</p>
</article>


<article id='editar'>
	{% include '/backend/menu_idiomas_registros.html' %}
	<form action='{{ cons.HOME }}gestor/editar-accion/{{ get.tabla }}/{{ get.id }}' method='post'  id='form_registros'>
{% for r in res %}

{% if r.tipo=='depe' %}

	<div class='caja_for_reg'>
	<label>{{ r.nombre }}</label>
	<select name='{{ r.nombre }}' class='input_reg' >
		<option value=''>{{ r.valor }}</option>
		{% for rr in r.lista %}
			<option value='{{ rr.id }}'>{{ rr.nombre }}</option>
		{% endfor %}
	</select>
	</div>

{% elseif r.tipo=='area'%}

	<div class='caja_for_reg'>
		<label>{{ r.nombre }}</label>
		<textarea name='{{ r.nombre }}' class='text_area'>{{ r.valor }}</textarea>
	</div>	


{% elseif r.tipo=='date'%}

	<div class='caja_for_reg'>
		<label>{{ r.nombre }}</label><input type='date' value='{{ r.valor }}' name='{{ r.nombre }}' class='input_reg' > 
	</div>


{% elseif r.tipo=='fechac'%}

	<input type='hidden' value='{{ r.valor }}' name='{{ r.nombre }}'> 

{% elseif r.tipo=='fecham'%} 

	<input type='hidden' value='{{ "now"|date("Y-m-d  h:i:s") }}' name='{{ r.nombre }}'> 


{% elseif r.tipo=='oculto'%}

	<input type='hidden' value='{{ r.valor }}' name='{{ r.nombre }}'> 

{% elseif r.tipo=='select' %}

	<div class='caja_for_reg'>
		
		<label>{{ r.nombre }}</label>
			<select name='{{ r.nombre }}' class='input_reg' >
			
				{% for rr in r.lista %} 
			
					{% if r.valor==rr.valor %}
					<option value='{{ rr.valor }}'>{{ rr.nombre }}</option>
					{% endif %}
				
				{% endfor %}
				
				{% for rr in r.lista %} 
				<option value='{{ rr.valor }}'>{{ rr.nombre }}</option>
			{% endfor %}
			
		</select>
	</div>	
	
{% else %}

	<div class='caja_for_reg'>
		<label>{{ r.nombre }}</label><input type='text' value='{{ r.valor }}' name='{{ r.nombre }}' class='input_reg' > 
	</div>

{% endif %}





{% endfor %}


	<div class='caja_for_reg'>
		<a href='{{ cons.HOME }}gestor/eliminar/{{ get.tabla }}/{{ get.id }}' title='{{ trad.eliminarreg }}' class='eli_sub'>{{ trad.eliminarreg }}</a>
		<input type='submit' value='{{ trad.modificar }}' class='reg_sub' >
	</div>
</form>


{% if res_anidado != null %}
{% include '/backend/formulario_anidado.html' %}
{% endif %}

</article>



{% if need_photo == 1 %}
<article id='cajon_foto'>
{% include '/backend/crear_foto.html' %}
</article>

<article id='listados_foto'>
{% include '/backend/listado_imagenes.html' %}
</article>
{% endif %}
</section>
{% endblock %}
