{% extends 'backend/backend.html' %}
{% block contenidos %}	
	
	


{% include '/backend/menu_gestor.html' %}
<section>
	<article id='information'>
<h1>{{ trad.h1_editar }}: <b>{{ get.id }}</b> {{ trad.dela }} <b>{{ get.tabla|title }}</b></h1>
<p>
IDIOMAS POR EDITAR
</p>
</article>


<article>
	{% include '/backend/menu_idiomas_registros.html' %}
	<form action='{{ cons.HOME }}gestor/editar-idioma-accion/{{ get.tabla }}/{{ get.id }}/{{ get.idiomareg }}' method='post'>
{% for r in res %}

{% if r.tipo=='depe' %}
<br><label>{{ r.nombre }}</label>
<select name='{{ r.nombre }}'>
	<option value=''>{{ r.valor }}</option>
	{% for rr in r.lista %}
<option value={{ rr.id }}>{{ rr.nombre }}</option>
{% endfor %}
</select>
{% elseif r.tipo=='oculto'%}
<br><input type='hidden' value='{{ r.valor }}' name='{{ r.nombre }}'> 
{% else %}
<br><label>{{ r.nombre }}</label><input type='text' value='{{ r.valor }}' name='{{ r.nombre }}'> 
{% endif %}





{% endfor %}
<input type='submit' value='{{ trad.modificar }}' >
</form>


</article>

</section>
{% endblock %}
