{% extends 'backend/backend.html' %}

{% block contenidos %}	
	


	
{% include '/backend/menu_gestor.html' %}
{% include '/backend/buscador.html' %}	
<section>
	<article id='information'>
	<h1>{{ trad.res_bus }}: {{ termino|title  }}</h1>
	<p>
	{{ trad.listado_p }} {{ tabla|title }}
	</p>
	</article>

		<div id='aviso_busqueda'>
		<p>{{ trad.aviso_busqueda|raw }}. {{ trad.eliminar_filtro|raw }}</p>
		</div>
	<table id='listado'>
	  <thead>
		<tr>
		{% for campo in campos %}	
		
		{% if campo == campo_orden %}
		{% set dir_orden=orden_cambio  %}
		{% set class_fil='filtrado' %}
		{% else %}
		{% set dir_orden='ASC'  %}
		{% set class_fil='' %}
		{% endif %}
		
			<th>{{ campo }}</th>
		{% endfor %}	
			
		</tr>
	</thead>
	<tbody>
		{% set col = campos|length %}
		{% set vuelta = 1 %}
		{% set n=1 %}
	{% for item in listado %}
			
			{% if n is divisibleby(2)  %}
				{% set linea="impar" %} 
            {% else %}
				{% set linea="par" %}
            {% endif %}
			
			
			{% if vuelta == 1 %}
			<tr class="{{ linea }}">
				
			{% endif %}
			
					{% if item.campo=='id' %}
			<td><a href='{{ cons.HOME }}gestor/editar/{{ get.tabla }}/{{ item.valor }}' class='link_ir_editar' title='{{ title_ir_editar }}'>{{ item.valor|raw }}</a></td>
			{% else %}
			<td>{{ item.valor|raw }}</td>
			{% endif %}
		
		{% if vuelta==col %}
				{% set vuelta=1 %}
				{% set n=n+1 %}
			</tr> 
			{% else %}
				{% set vuelta=vuelta+1 %}
				
           {% endif %}
			
			
	{% endfor %}
	
		
	</tbody>	

	
	</table>	
</section>


{% endblock %}
