<nav id='principal'>
{% set clase_atras_index='' %}	
{% if get.tabla !='' or tabla !='' %}	
{% set clase_atras_index='atras' %}	
{% endif %}

{% set elorden='ASC' %}
{% if session.orden is defined %}
{% set elorden=session.orden %}

{% endif %}	


<div class='capsula {{ clase_atras_index }}'><a href='{{ cons.HOME }}gestor' title='{{ trad.menu_volver }} {{ trad.menu_inicio }}'>{{ trad.menu_inicio }}</a></div>	
{% for tablas in menuTablas %}

{% set clase_atras='atras' %}
	{% if get.tabla == tablas or tabla == tablas%}
		{% set clase_atras='' %}
	{% endif %}
<div class='capsula {{ clase_atras }}'><a href='{{ cons.HOME}}gestor/listado/{{ tablas }}/id/1/{{ elorden }}' title='{{ trad.listado_de }} {{ tablas }}'>{{ tablas|title }}</a></div>
{% endfor %}

</nav>
