<!DOCTYPE html>
<html>
<head></head>
<body>
	
	
{% include '/locale/menu_locale.html' %}		
	
<h1>INDEX</h1>
<p>
<br /> <b>LA REDIRECCION: {{ redirect }}</b>
<br />
Este es el contenido desde la plantilla.
<br /><br />
GET = lang: {{ parametros.lang }}
<br />
GET = pagina: {{ parametros.pagina }}
<br />
El idioma : {{ idioma.getLang }}
<br />
Estilo : {{ estilo }}
<br />
Idiomas Soportados: <b>{{ idiomassoportados }}</b>
<br /> 

{% include '/fijas/tomate.html' %}
<br /> <br /> 
Traducciones: <b>{{ trad.Saludo }}</b>
<br /> 
Traducciones: <b>{{ trad.Despedida | raw }}</b>
<br /> <br /> 


<br /> <br /> 
<a href="{{ HOME }}POLKAXY/asadas">Volver a Polka</a>
</p>

</body></html>
