<aside id='locale'>
	{% if idioma.estilo=='iso'  %}	
		
		{% for idiomalista in idioma.soportados %}
		
			{% if idioma.getLang==idiomalista %}
			
				<a href='{{ cons.HOME }}{{ donde }}/{{ idiomalista }}' class='localesel'>{{ idiomalista }}</a>
			{% else %}
				<a href='{{ cons.HOME }}{{ donde }}/{{ idiomalista }}' class='iso'>{{ idiomalista }}</a>
			{% endif %}
		{% endfor %}

	{% elseif idioma.estilo=='img' %}

		{% for idiomalista in idioma.soportados %}
			{% if idioma.getLang==idiomalista %}
				<a href='{{ cons.HOME }}{{ donde }}/{{ idiomalista }}' class='idioma_img localesel_{{ idiomalista }}'></a>
			{% else %}
				<a href='{{ cons.HOME }}{{ donde }}/{{ idiomalista }}' class='idioma_img clase_{{ idiomalista }}'></a>
			{% endif %}
		{% endfor %}


	{% endif %}

</aside>
