
footer {float:left; clear:both;  width:100%; font-size:0.8em; padding-top:0.4em; padding-bottom:0.4em;
		text-align:center; color:#939798; border-top:1px solid #DBE3E4; margin-top:1.5em;}

footer a 		{ color:#666C6E; font-weight:lighter; text-decoration:none; }
footer a:hover 	{ color:#333333; text-decoration:underline; }


header {width:100%; background-color:##DBE3E4;}

aside#menu_seguridad {float:right; font-size:0.8em;  padding:5px;
		margin-right:1.3em; margin-top:1em;	
		}
aside#menu_seguridad strong {margin-right:0.5em;}		
aside#menu_seguridad a {color:#999999; padding-left:0.8em; border-left:1px solid #cccccc;}
aside#menu_seguridad a:hover {color:#000000;}

article#information h1 {color:#6F8D9E; font-size:1.5em; margin-left:0.8em;}
article#information p {float:left; color:#6F8D9E; font-size:0.9em; margin-left:0.8em; padding-top:0.1em;}
table#listado {
width:90%; margin:auto;
	border:1px solid #cccccc;
	}

table#listado td,th {text-align:left; padding:0.5em;  }

.orden {background-position:right; padding-right:32px; color:#999999; height:50px; background-repeat:no-repeat; text-decoration:none;
	opacity: 0.4;
    filter: alpha(opacity=40);}
.orden:hover {opacity: 1; filter: alpha(opacity=100);}

.filtrado { color:#333333; opacity: 1; filter: alpha(opacity=100);}
    
.DESC {background-image:url('../deco/backend/asc.png'); }
.ASC {background-image:url('../deco/backend/desc.png');}
.par {background-color:#EDF0F2;}
.impar {background-color:#F8FDFD;}


.pagination { width:90%; margin:auto; text-align:right; padding:0.3em;  margin-top:0.5em;}

.pagination  a {padding:0.3em; border:1px solid #cccccc; text-align:center; margin:0.2em; text-decoration:none; color:#999999; }
.pagination  a:hover {text-decoration:none; color:#333333;}

aside#buscador {float:right; margin-right:5em; margin-top:0.7em; font-size:0.8em; width:30%;  padding:0.4em;}

.in_termino { width:80%;}
div#campos_fo {clear:both; float:left; width:100%; padding:0.3em; text-align:center; }
.cajas_radio {float:left; margin-right:0.7em; width:25%; font-size:1.1em; }
.elradio { margin-right:0.3em; margin-top:0.4em; }

.mini {font-size:0.9em; color:#999999;}

#aviso_busqueda {float:left; width:100%; padding:0.5em;}
#aviso_busqueda p {width:70%; margin:auto; color:#E98A0E; padding:0.4em;font-size:1.1em; background-color:yellow;}
#aviso_busqueda a {color:#720415; font-size:0.9em; margin-left:2em;}
#aviso_busqueda a:hover {color:#333333;}

.link_ir_editar	{color:#51565A; font-weight:bold; text-decoration:none; background-color:#F8F8DF; padding:0.4em;}
.link_ir_editar:hover {color:#000000; background-color:#ffff00;}


/* Editar */
article#editar {flaot:left; }
#menmu_idiomas_registros {clear:both; float:left; width:45%;  margin-left:2em;}
#menmu_idiomas_registros .situa_idiomas {float:right;}
form#form_registros {clear:both; float:left; width:45%; padding-left:2em; margin-top:1em;}
.caja_for_reg {float:left; clear:both; width:100%; margin-bottom:0.8em; padding-bottom:0.7em; border-bottom:1px solid #EBEBEB;}

form#form_registros label {float:left; width:20%; padding:0.4em; color:#999999;}
.input_reg  {float:left; width:70%; padding:0.2em; color:#7D7D7D; border:1px solid #EBEBEB;
				background-color:#FAFAE5;
				}
.bo_dos { background-color:#F3F5F8; padding:0.3em; color:#6B6D7A; text-decoration:none; border:1px solid #CACFD4;
		-webkit-border-radius: 3px; margin-right:1em;
		-moz-border-radius: 3px;
		border-radius: 3px; }

.bo_dos:hover {color:#000000; background-color:#F8FAE6;}

.reg_sub {float:right;background-color:#0D7E17; border:1px solid #0A210B; color:#DAF4DB; font-size:1em; padding:0.3em; padding-left:0.5em; padding-right:0.5em;
		-webkit-border-radius: 3px; text-decoration:none; 
		-moz-border-radius: 3px;
		border-radius: 3px;
		-webkit-box-shadow: 3px 3px 18px 0px rgba(50, 50, 50, 0.5);
		-moz-box-shadow:    3px 3px 18px 0px rgba(50, 50, 50, 0.5);
		box-shadow:         3px 3px 18px 0px rgba(50, 50, 50, 0.5);}
		
.reg_sub:hover {color:#F3F4DA; background-color:#08260B; border:1px solid #08B00E; }


.eli_sub {float:left;background-color:#7E150D; border:1px solid #210A0A; color:#F4DBDA; font-size:1em; padding:0.3em; padding-left:0.5em; padding-right:0.5em;
		-webkit-border-radius: 3px;  text-decoration:none;
		-moz-border-radius: 3px;
		border-radius: 3px;
		-webkit-box-shadow: 3px 3px 18px 0px rgba(50, 50, 50, 0.5);
		-moz-box-shadow:    3px 3px 18px 0px rgba(50, 50, 50, 0.5);
		box-shadow:         3px 3px 18px 0px rgba(50, 50, 50, 0.5);}
		
.eli_sub:hover {color:#F4E9DA; background-color:#260908; border:1px solid #B01208; }

.rojo	{color:#900612;}

div#alerta {clear:both; padding:2em; width:53%; margin:auto; background-color:#FBEFA3; text-align:center;}
div#alerta h2,p {color:#761C10;}


article#cajon_foto {float:right; margin-right:1.5em; width:48%; padding:0.7em; margin-top:-70px; 		
		border:1px solid #E8E8E8;  
		-webkit-border-radius: 4px; 
		-moz-border-radius: 4px;
		border-radius: 4px;}
article#cajon_foto h2 {font-size:1.3em; color:#727D8C;}

article#listados_foto  {clear:both; float:right; margin-right:1.5em; width:48%; padding:0.7em; margin-top:-40px; 		
		border:1px solid #E8E8E8; 
		-webkit-border-radius: 4px; 
		-moz-border-radius: 4px;
		border-radius: 4px;}
article#listados_foto h2 {font-size:1.3em; color:#727D8C;}
article#listados_foto p {font-size:0.9em; color:#727D8C;}

.linea_for_fo {clear:both; float:left; width:100%; margin-bottom:0.7em; }
form#form_fotos label {float:left; width:20%; font-size:0.8em; padding:0.4em; color:#999999;}
.fotos_input {font-size:0.8em; padding:0.3em; color:#999999; border:1px solid #E3E3E3; width:60%;}


.grupo_foto	{clear:both; float:left; width:98%; margin:auto; margin-bottom:1.8em; padding:0.4em; background-color:#FFFFF1;
			border:1px solid #E8E8E8; 
			-webkit-border-radius: 4px; 
			-moz-border-radius: 4px;
			border-radius: 4px;}
			
.form_det_fo	{ float:right; padding:0.4em; 	width:70%;  margin-left:1.3em; }

.capsula_imagen {clear:both; float:left; width:25%; }
.cap_obj	{float:right; width:100%; border-bottom:1px solid #E8E8E8; padding-bottom:0.4em;}
.cap_obj_lable {float:left; display:block; width:20%; padding:0.6em; color:#889589;}
.cap_obj_input {float:left; width:48%; padding:0.4em; border:1px solid #E8E8E8;  margin-left:0.8em; }

.reg_sub2 {float:right;background-color:#D1D5D1; border:1px solid #ABB4AB; color:#1D4A1E; font-size:0.8em; padding:0.3em; padding-left:0.5em; padding-right:0.5em;
		-webkit-border-radius: 3px; text-decoration:none; margin-right:1.2em;  margin-top:0.2em;
		-moz-border-radius: 3px;
		border-radius: 3px;
		-webkit-box-shadow: 3px 3px 18px 0px rgba(50, 50, 50, 0.5);
		-moz-box-shadow:    3px 3px 18px 0px rgba(50, 50, 50, 0.5);
		box-shadow:         3px 3px 18px 0px rgba(50, 50, 50, 0.5);}
		
.reg_sub2:hover {color:#F3F4DA; background-color:#08260B; border:1px solid #08B00E; }

#luz_band {float:right; margin-top:0.2em; opacity: 0.8; filter: alpha(opacity=80);}

