
footer { width:100%; font-size:0.8em; padding-top:0.4em; padding-bottom:0.4em;
		text-align:center; color:#939798; border-top:1px solid #DBE3E4;}

footer a 		{ color:#666C6E; font-weight:lighter; text-decoration:none; }
footer a:hover 	{ color:#333333; text-decoration:underline; }


header {width:100%; background-color:##DBE3E4;}
