<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block metarobots %}
        <meta name="robots" CONTENT="index, follow">
        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
        <link href="{{ cons.HOME }}src/css/reset.css" rel="stylesheet" type="text/css" />
        {% block cabecerasextras %}  {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ cons.HOME }}/deco/frontend/favicon.ico" />
    </head>
    <body>
	{% set donde = 'home' %}
    {% block body %}{% endblock %}
       
       <footer id='pass'>
       <a href='{{ cons.HOME }}' title='{{ trad.form_home }}'>{{ trad.form_home }}</a>
       </footer>
       

        {% block javascripts %}{% endblock %}
        

    </body>
</html>
