{% extends 'seguridad/frontend_pass.html' %}
	
{% block contenidos %}	

<form action='{{ cons.HOME }}checking' method='post' id='form_pass'>
	
	<div> <label>{{ trad.form_user }}:</label> <input type='text' name='usuario' /> </div>
	<div> <label>Password: </label> <input type='password' name='password' /> </div>
	<input   class='boton' type='submit' value='{{ trad.form_boton }}' title='{{ trad.form_boton }}' /> 
	
	<input type='hidden' name='regreso' value='{{ regreso }}' />
	
</form>

{% endblock %}
